/* Colores */
$color-principal: #3668CC;
$color-secundario: white;
$color-section: #EAEAEA;
$color-texto: #1C1B1B;
$color-border: #B1B1B1;
$color-footer: #0B307A;
$color-section-2: #EFEFEF;

/* Fuentes */
$font-general: 'lato';

/* Tamaño fuentes */
$tam-font: 35px;
$tam-font-menu: 15px;
$tam-font-service: 28px;

/* Padding */
$padding-sec-general: 30px;